.UserIn{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color-primary);
}

h2{
    display: inline;
}

.modal_content p{
    display: inline;
}

.inputdiv{
    display: grid;
    text-align: center;
}

.inputdiv h2{
    border: 1px solid white;
}

.cell_change button{
    margin: 0.5rem;
    padding: 0rem 2rem 0rem 2rem;
}

.form-inline > input{
    height: 100%;
}
